
@using Web_QuanLyChungCu.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";
}
<style>
    .form-group {
        padding: 30px;
    }
</style>
<h1> Thêm mới hợp đồng</h1>
@using (Html.BeginForm("InvoiceCreate", "Invoice", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
<div>
    <div class="form-group">
        <label class="control-label col-md-2">Mã hợp đồng</label>
        <div class="col-md-9">
            @Html.TextBox("Code", "", htmlAttributes: new { @placeholder = "..." })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Tiền đặt cọc</label>
        <div class="col-md-9">
            @Html.TextBox("PayCash", "", htmlAttributes: new { @placeholder = "..." })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Phương thức thanh toán</label>
        <div class="col-md-9">
            @Html.TextBox("PaymentMethod", "", htmlAttributes: new { @placeholder = "..." })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Khách hàng</label>
        <div class="col-md-9">
            @Html.DropDownList("LeadId", (IEnumerable<SelectListItem>)ViewBag.LeadId, "Vui Lòng Chọn", new { @class = "from-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Nhân viên</label>
        <div class="col-md-9">
            @Html.DropDownList("StaffId", (IEnumerable<SelectListItem>)ViewBag.StaffId, "Vui lòng Chọn", new { @class = "from-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Căn hộ</label>
        <div class="col-md-9">
            @Html.DropDownList("ApartmentId", (IEnumerable<SelectListItem>)ViewBag.ApartmentId, "Vui lòng chọn",new { @class = "from-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Ngày lập hợp dồng</label>
        <div class="col-md-9">
            @Html.TextBox("DateCreate", "", htmlAttributes: new { @placeholder = "Nhập ngày ..." })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Ngày hết hạn hợp đồng</label>
        <div class="col-md-9">
            @Html.TextBox("DueDate", "", htmlAttributes: new { @placeholder = "Nhập ngày ..." })
        </div>
    </div>
</div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm mới" class="btn btn-success" />
        </div>
    </div>
}