@using Web_QuanLyChungCu.Models
@model Web_QuanLyChungCu.Models.Apartment
@{
    ViewBag.Title = "ApartmentModify";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.tiny.cloud/1/29l381gn6sjc1ht6bi9s7xrm14b864bq2fjookd9ibvkzw4w/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
</head>
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>
<h1>chỉnh sửa thông tin</h1>

@using (Html.BeginForm("ApartmentModify", "Apartment", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ApartmentNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.ApartmentNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ApartmentNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Square, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Square, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Square, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PaymentMethod, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.PaymentMethod, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PaymentMethod, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LeadId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.LeadId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LeadId, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group">
                <label class="control-label col-md-2">Khách hàng</label>
                <div class="col-md-9">
                    @Html.DropDownList("LeadId",(IEnumerable<SelectListItem>)ViewBag.LeadId, "Vui Lòng Chọn", new { @class = "from-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Nhân viên</label>
                <div class="col-md-9">
                    @Html.DropDownList("StaffId", (IEnumerable<SelectListItem>)ViewBag.StaffId, "Vui lòng Chọn", new { @class = "from-control" })
                </div>
            </div>*@

    </div><div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Modify" class="btn btn-default" />
        </div>
    </div>
}


